@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Fortnite Club</h1>
    <h3 class="display-7">It is called VicRoy (short for Victory Royale)</h3>
</div><br><br/>

<div style="display: flex; gap: 20px; justify-content: center">
    <div>
        <img src="~/img/skins1.png" alt="Fortnite Skins" style="width: 400px">
    </div>
    <div>
        <img src="~/img/vicroy2.png" alt="Fortnite Skins" style="width: 400px">
    </div>
</div><br><br>

<div class="text-center" style="justify-content: center">
    <p>Fortnite is the greatest game to every exist. It allows friends, family, and even enemies</p>
    <p>to unite for one purpose: to achieve the Victory Royale (or the VicRoy for avid fans). The</p>
    <p>VicRoy is not the only flex that players can make in the game, though. Players can also</p>
    <p>collect the coolest skins. I personally think that cool skins are even better than a Vicroy,</p>
    <p>and no, that is not because I can't get a VicRoy. In fact, last I checked, I had 775 total</p>
    <p>Victory Royales.</p>
    <br/>
    <p>The essence of the game is found in the strategy. Some players like to brag that they can</p>
    <p>get a lot of kills, or that they can build and edit very fast, but these players play and</p>
    <p>and constantly place in the top 5, but always falling short of the VicRoy. Who do they fall</p>
    <p>short to, you ask? Players like me. Players that spend the whole game unfolding an elite</p>
    <p>game plan that leaves the sweaty players speechless. This club is for those kind of players.</p>
    <span style="color: #0a53be; font-weight: bolder">The few, the proud.</span>
</div>


    
